/* Reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Container for the split background */
.split-background {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1.45fr 1fr;
    position: relative;
}

/* Responsive adjustments */
@media (min-width: 1280px) {
    .split-background {
        grid-template-rows: 1.45fr 3fr;
        width: 86vw;
        margin: 0 auto;
    }
}

/* Top section with background image */
.top {
    background-image: url(img/background-image@2x.png); /* Replace with your image path */
    /* background-position: center top; */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1, h4 {
    margin-top: -150px;
    
    
    font-family: Inter, Sans-serif;
    color: #FFFFFF;
}

.top h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 10px; 
}

.top h4 {
    font-weight: 600;
    font-size: 0.75rem;
    background-color: #95AAD0;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

/* Bottom section with background color */
.bottom {
    background-color: #f3f4f6;
}

/* Centered content div */
.content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 750px;
    /* max-width: 1280px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        grid-template-columns: 1fr;
        top: 60%;
        transform: translate(-50%, -60%);
    }
}

/* Inner sections with rounded corners */
.items {
    background-color: #d2d5da;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contactDetails {
    background-color: #ffffff;
}

/* Content Images */
.content img {
    background-color: #ffffff;
    max-width: 100%;
    height: auto;
}


.items {
    background-color: #D2D5DA;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.contactDetails {
    background-color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.content img {
    background-color: #FFFFFF;
}

/* .items */
.productPhoto {
    height: 100px;
    min-width: 100px;
    background: white;
    border-radius: 10px;
    border: 0.5px solid #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemRows {
    display: flex;
    margin: 35px;
}

.productDescription {
    width: 80%;
    height: 100px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

.productDescriptionLines {
    display: flex;
    justify-content: space-between;
}

.line2 {
    margin-top: 5px;
}
.line3 {
    margin-top: auto;
}

.productNamePrice {
    font-family: Inter, Sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.greyText {
    font-family: Inter, Sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #6C727F;
}

/* .contacts */
